body{
    background-color:grey;
    
    
}

#container{
    background-color: #f60505;
    border: 5px solid #f5f4c3;
    height: 275px;
    width: 650px;
    margin: auto;
    text-align: center;


}

p{
    color: yellow;
    font-size: 24px;
}
#userInput{
    width: 100px; 
    margin: 25px auto;
     
}
#btn{
    margin: 25px auto auto 5px;
}
    
    
   
    

